{% extends('layouts/app.twig') %}

{% block content %}

    <div class="container">
        <h1>S'inscrire</h1>
        <form action="{{ route('login.store') }}" method="posts">
            <div class="form-group">
                <label for="username">Nom d'utilisateur ou email</label>
                <input id="username" class="form-control" name="username" type="text">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input id="password" class="form-control" name="password" type="password">
            </div>

            <button class="btn btn-block btn-primary">Se Connecter</button>
        </form>
    </div>

{% endblock %}

