{% extends 'layouts/admin.twig' %}

{% block content %}

    <div class="container">
        <a class="btn btn-success mb-2" href="">Ajouter une catégorie</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.title }}</td>
                    <td>
                        <button class="btn btn-primary btn-edit" data-url="" data-toggle="modal" data-target="#exampleModal">Editer</button>
                        <a class="btn btn-danger" href="">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}