{% extends('layouts/default.twig') %}

{% block content %}

    <div class="container text-center">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="card col-md-4">
                <div class="card-body">
                    <h1 class="text-2xl">Se Connecter</h1>
                    {% if flash('error') %}
                        <div class="alert alert-danger">
                            {{ flash('error') }}
                        </div>
                    {% endif %}
                    <form action="{{ route('login') }}" method="POST">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input id="name" class="form-control" name="username" type="text" placeholder="Identifient">
                            </div>
                            <div class="col-md-12 form-group">
                                <input id="email" class="form-control" name="password" type="password" placeholder="Mot de passe">
                            </div>
                            <div class="col-md-12 form-group">
                                <button class="btn btn-block btn-primary">Se Connecter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}