{% extends('layouts/app.twig') %}

{% block content %}

    <div class="container">
        <h1>Uploader un fichier</h1>
        <form action="/galery/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nom du fichier</label>
                <input id="name" type="file" name="name" class="form-control">
            </div>
            <button class="btn btn-primary">Upload</button>
        </form>
    </div>

{% endblock %}