<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desolé, La page souhaitée n'existe pas.</title>
    <style>
        *, ::after, ::before {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }
        body {
            background-repeat: repeat;
            background: #f8f8fa;
            font-family: "Roboto",sans-serif;
            color: #5b626b;
            font-size: 14px;
        }
        /* @media all and (max-width:768px) */
        body {
            overflow-x: hidden;
        }
        html {
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
        }
        html {
            overflow-x: hidden;
            position: relative;
            min-height: 100%;
        }
        :root {
            --blue: #007bff;
            --indigo: #6610f2;
            --purple: #6f42c1;
            --pink: #e83e8c;
            --red: #dc3545;
            --orange: #fd7e14;
            --yellow: #ffc107;
            --green: #28a745;
            --teal: #20c997;
            --cyan: #17a2b8;
            --white: #fff;
            --gray: #6c757d;
            --gray-dark: #343a40;
            --primary: #007bff;
            --secondary: #6c757d;
            --success: #28a745;
            --info: #17a2b8;
            --warning: #ffc107;
            --danger: #dc3545;
            --light: #f8f9fa;
            --dark: #343a40;
            --breakpoint-xs: 0;
            --breakpoint-sm: 576px;
            --breakpoint-md: 768px;
            --breakpoint-lg: 992px;
            --breakpoint-xl: 1200px;
            --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        }
        .ex-pages {
            position: relative;
            height: 100vh;
        }
        .content-center {
            display: table;
            width: 100%;
            height: 100%;
        }
        .content-desc-center {
            display: table-cell;
            vertical-align: middle;
        }
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        /* @media all and (min-width:576px) */
        .container {
            max-width: 540px;
        }
        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0px;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }
        .card {
            border: none;
            -webkit-box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
            box-shadow: 0px 0px 13px 0px rgba(236,236,241,0.44);
            margin-bottom: 30px;
        }
        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
        }
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        .align-items-center {
            -ms-flex-align: center !important;
            align-items: center !important;
        }
        .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
        img {
            vertical-align: middle;
            border-style: none;
        }
        .img-fluid {
            max-width: 100%;
            height: auto;
        }
        .d-block {
            display: block !important;
        }
        .mr-auto, .mx-auto {
            margin-right: auto !important;
        }
        .ml-auto, .mx-auto {
            margin-left: auto !important;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0px;
            margin-bottom: 0.5rem;
        }
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.2;
        }
        .h1, h1 {
            font-size: 2.5rem;
        }
        .h4, h4 {
            font-size: 1.5rem;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 10px 0;
            font-family: "Sarabun",sans-serif;
            font-weight: 600;
        }
        .text-dark {
            color: #343a40 !important;
        }
        .text-dark {
            color: #2a3142 !important;
        }
        .ex-page-content h1 {
            font-size: 98px;
            font-weight: 500;
            line-height: 150px;
        }
        .mb-4, .my-4 {
            margin-bottom: 1.5rem !important;
        }
        p {
            margin-top: 0px;
            margin-bottom: 1rem;
        }
        p {
            line-height: 1.7;
        }
        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        .mb-5, .my-5 {
            margin-bottom: 3rem !important;
        }
        a {
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
        }
        a {
            color: #6c757d;
        }
        .btn {
            display: inline-block;
            font-weight: 400;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .waves-effect {
            position: relative;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
        }
        .btn {
            border-radius: 3px;
            font-size: 14px;
        }
        .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-dark, .btn-pink, .btn-purple, .btn-indigo, .btn-teal, .btn-lime, .btn-orange, .btn-brown, .btn-blue-grey {
            color: #ffffff;
        }
        .btn-primary {
            background-color: #626ed4;
            border: 1px solid #626ed4;
        }
        .mdi::before, .mdi-set {
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: inherit;
            text-rendering: auto;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>

</head>
<body>

<!-- Begin page -->
<div class="ex-pages">
    <div class="content-center">
        <div class="content-desc-center">
            <div class="container">
                <div class="card mo-mt-2">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-4 offset-lg-1">
                                <div class="ex-page-content">
                                    <h1 class="text-dark">404!</h1>
                                    <h4 class="mb-4">Sorry, page not found</h4>
                                    <p class="mb-5">It will be as simple as Occidental in fact, it will be Occidental to an English person</p>
                                    <a class="btn btn-primary mb-5 waves-effect waves-light" href="/"><i class="mdi mdi-home"></i> Back to Dashboard</a>
                                </div>

                            </div>
                            <div class="col-lg-5 offset-lg-1">
                                <img class="img-fluid mx-auto d-block" alt="" src="/assets/images/error.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end container -->
        </div>
    </div>

</div>
<!-- end error page -->





</body>

</html>

