{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

<p>Hi {{ name }}! You're successfully registered.</p>

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ route('home') }}">Se Connecter</a>.

Thanks!
