{% extends 'layouts/app.twig' %}

{% block content %}

    <div class="container">
        {% for post in posts %}
            <div class="row mb-5">
                <div class="col-md-4">
                    <img src="{{ post.cover }}" alt="" style="width: 100%">
                </div>
                <div class="col-md-8">
                    <h2>
                        <a href="{{ route('posts.show', {slug: post.slug}) }}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}