{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="container">
        <div class="row mb-3">
            <div class="col-md-12">
                <button id="add-new-posts" class="btn btn-success">Ajouter Une nouvelle article</button>
                <button id="btn" class="btn btn-danger" style="display: none">Annuler</button>
            </div>
        </div>
        <div id="add-new-posts-form" class="row mb-5" style="display: none">
            <div class="col-12">
                <form action="{{ route('posts.store') }}" method="POST">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label for="title">Titre de l'article</label>
                            <input id="title" class="form-control" name="title" type="text">
                        </div>
                        <div class="col-6 form-group">
                            <label for="slug">Slug de l'article</label>
                            <input id="title" class="form-control" name="slug" type="text">
                        </div>
                        <div class="col-12 form-group">
                            <label for="content">Contenu de l'article</label>
                            <textarea class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
                        </div>
                        <div class="col-12 form-group">
                            <button class="btn btn-success">Sauvegarder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% for post in posts %}
            <div class="row mb-5">
                <div class="col-md-4">
                    <img src="/uploads/9409782B1FC6CC304C65F0D09C72068E.jpg" alt="" style="width: 100%">
                </div>
                <div class="col-md-8">
                    <h2>
                        <a href="{{ route('posts.show', {slug: post.slug}) }}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script src="/js/app.js"></script>
{% endblock %}