{% extends('layouts/app.twig') %}
{% import 'macros/form.twig' as Form %}
{% block content %}

    <div class="container">
        <h1>Uploader un fichier</h1>
        <form action="{{ route('file.store') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" class="form-control mb-2">
            <button class="btn btn-success">Upload</button>
        </form>
    </div>

{% endblock %}