{% extends('layouts/app.twig') %}
{% import 'macros/form.twig' as Form %}
{% block content %}

    <div class="container">
        <h1>Les fichier uploader</h1>
        {% for file in files %}
            {{ blob(file) }}
        {% endfor %}
    </div>

{% endblock %}